@import url(reset.css);

img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

body{
    background-color: #333;
}

.slider {
    text-align: center;
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}
.slides {
    overflow: hidden;
    margin-bottom: 1rem;
}

#nav-1:checked ~ .slides .inner{
    margin-left: 0;
}
#nav-2:checked ~ .slides .inner{
    margin-left: -100%;
}
#nav-3:checked ~ .slides .inner{
    margin-left: -200%;
}
#nav-4:checked ~ .slides .inner{
    margin-left: -300%;
}
#nav-1:checked ~ .nav .nav-name #nav-1__name{
    opacity: 1;
}
#nav-2:checked ~ .nav .nav-name #nav-2__name{
    opacity: 1;
}
#nav-3:checked ~ .nav .nav-name #nav-3__name{
    opacity: 1;
}
#nav-4:checked ~ .nav .nav-name #nav-4__name{
    opacity: 1;
}
#nav-1:checked ~ .nav .nav__bullet #nav-1__check .nav__label-bullet{
    background-color: #333;
}
#nav-2:checked ~ .nav .nav__bullet #nav-2__check .nav__label-bullet{
    background-color: #333;
}
#nav-3:checked ~ .nav .nav__bullet #nav-3__check .nav__label-bullet{
    background-color: #333;
}
#nav-4:checked ~ .nav .nav__bullet #nav-4__check .nav__label-bullet{
    background-color: #333;
}

.inner {
    display: flex;
    width: 400%;
    transition: all 0.3s ease 0s;
}
.slide {
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
}
.slide-1 {
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-name{
    color: #fff;
    font-size: 1rem;
}
.nav__name{
    display: block;
    opacity: 0;
    height: 0;
    transition: all 0.3s ease 0s;
}
.nav__label {
    cursor: pointer;
    padding: 0.5rem;
}
.nav__label-bullet{
    width: 25px;
    height: 25px;
    background-color: #6565d8;
    border: 1px solid #6565d8;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}
.nav__label:hover .nav__label-bullet{
    background-color: white;
    border: 1px solid white;
}
.nav__label:active .nav__label-bullet{
    border: #7a7a7a;
    border: 1px solid #7a7a7a;
}
.nav__label-checked{
    width: 23px;
    height: 23px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 1px;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.nav__bullet{
    display: flex;
    gap: 1rem;
}
.nav__input {
    display: none;
}

